@import "../../styles/variables.scss";

.todo {
	.completed {
		text-decoration: line-through;
		color: rgb(151, 149, 146);
	}

	&__list {
		&-item {
			font-size: 1.7em;
			margin-bottom: 5px;
			color: #fff;
			label {
				display: flex;
				justify-content: space-between;
				align-items: center;
				word-wrap: break-word;
				.input {
					position: relative;
					cursor: pointer;
					width: 20px;
					height: 20px;
				}
				span {
					padding-left: 10px;
				}
				.DeleteIcon {
					transition: all 0.3s;
					cursor: pointer;
					&:hover {
						color: $btn-hover;
						transition: all 0.3s;
					}
				}
			}
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}
